*{
  font-family: 'Courier New', Courier, monospace;
}
body{
  padding: 60px;
}
input{
  width: 100%;
  font-size: 1.3rem;
  color:gray;
  
}

.card{
  align-content: center;
  border: 1px solid gray;
  border-radius: 8px;
  margin-bottom: 15px;
  align-items: center;
  overflow: hidden;
  max-width: 220px;
  min-width: 220px;
}
.card p{
  padding: 5px;
  text-align: center;
}
.card img{
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-grid{
  display: flex;
  flex-direction: row;
  /* para el responsive */
  flex-wrap: wrap;
}